.App {
  text-align: center;
}

/* .telemetry {
  display: flex;
  width: 75vw;
  height: 100vh;
} */

.mainContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.imgsContainer {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 50rem;
}
.launchImages {
  height: 6rem;
  width: auto;
  opacity: 0.9;
}
.launchImages:hover {
  cursor: pointer;
  transform: scale(1.03, 1.03);
  opacity: 1.0;
  transition: opacity 0.3s
}


/* 
.modalClass {
  display: flex;
  justify-content: center;
  height: auto;
  width: auto;
  margin: 0;
  text-align: center;

}

#modalImg {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
} */